body{
    font-family: 'Text Gyread Adventor Regular';
}

p{
    color: #484848;
}

nav{
    font-family: Aller Regular;
    background: url(../img/nav-gradient.png) repeat-y;
    background-size: contain;
    padding: 10px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(5px);
    z-index: 100;
}

nav a{
    text-decoration: none;
    color: white;
}

nav img{
    vertical-align: middle;
}

ul{
    display: inline-block;
    vertical-align: middle;
}

ul li{
    display: inline-block;
    margin-left: 30px;
}

ul li.home{
    margin-left: 20px;
}

button{
    background: orange;
    padding: 10px 20px;
    border-radius: 30px;
    border: 0;
    color: white;
    vertical-align: middle;
}

vhr {
    flex-grow: 1;
    border-top: 2px dotted rgba(255, 255, 255, 0.3);
    margin: 0.5em 13px;
}

.header{
    text-align: center;
}

.header img{
    max-height: 180px;
    width: unset !important;
    max-width: 100%;
}

.signup{
    float: right;
    margin-top: 6px;
}

.internal-nav{
    width: 90%;
    margin: 0 auto;
}

.body{
    width: 90%;
    margin: 60px auto 0 auto;
}

.light-body{
    margin-top: 0;
}

article.first{
    padding-top: 0;
}

.body article{
    vertical-align: top;
    width: 60%;
    display: inline-block;
}

.body article.full{
    width: 100%;
}

.center{
    text-align: center;
    width: 100%;
    display: inline-block;
}

.body aside{
    vertical-align: top;
    width: 38%;
    margin-left: 1%;
    display: inline-block;
    /*background: #ffb04e;*/
}

.who-we-are{
    background: #ffb04e;
    color: white;
    padding: 20px;
    margin-top: 30px;
}

.who-we-are picture img {
    max-height: 240px;
    width: unset;
    display: block;
    margin-right: 24px;
}

.who-we-are picture {
    float: left;
}

.who-we-are p{
    color: white;
}

.body aside h2{
    text-decoration: none;
}

picture img{
    width: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Text Gyread Adventor Regular';
}

h2{
    /*text-decoration: underline;*/
    margin-bottom: 20px;
}

p{
    margin: 20px 0;
    text-align: justify;
    font-size: 1.2em;
}

.whiteboard{
    width: 30%;
    background: orange;
    color: black;
    display: inline-block;
    padding: 3%;
    margin: 1%;
    vertical-align: middle;
    border-radius: 20px;
    font-size: 1.6em;
    transition: 200ms ease transform;
}

.whiteboard:hover{
    transform: scale(1.05);
}
/*
.whiteboard.one{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
*/
/*.whiteboard.two{
    border-radius: 0;
    padding: 4%;
}*/

/*.whiteboard.three{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

*/
.slider-btns{
    display: inline-block;
    vertical-align: middle;
}

.slider-btns .slider-btn{
    width: 10px;
    height: 10px;
    border-radius: 30px;
    background: #ffe082;
    margin: 10px;
    display: inline-block;
}

.slider-btns .slider-btn.selected{
    background: #ffc107;
}

.person{
    vertical-align: top;
}

.person .picture{
    width: 23vw;
    height: 23vw;
    max-width: 200px;
    max-height: 200px;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    vertical-align: top;
}

.partners{
    padding: 10px;
    background: #ebebeb;
    padding-top: 40px;
}

.person .picture-parceiros{
    height: 200px;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
    vertical-align: top;
    background-repeat: no-repeat;
}

a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.mobile-menu{
    display: none;
    margin-top: 6px;
    margin-left: 10px;
}

.colored p{
    color: white;
}

.colored{
    background: #0e0a32;
    color: white;
    position: relative;
    margin-top: 140px;
    padding-top: 100px;
}

.colored article{
    width: 90%;
    margin: 0 auto;
    font-size: 0.9em;
}

.artifact{
    position: absolute;
    left: 50%;
    margin-left: -12.5%;
    margin-top: -100px;
    top: 0;
}

.persons{
    text-align: center;
}

.team{
    text-align: center;
}

.team .person p{
    color: white;
}

.person{
    width: 200px;
    display: inline-block;
    margin-right: 50px;
}

.team .person{
    margin: 0 25px;
}

.team-holder{
    background: url(../img/nav-gradient.png) repeat-y;
    padding-top: 20px;
    display: inline-block;
    padding-bottom: 10px;
    background-size: contain;
    border-radius: 14px;
    margin: 10px;
}

.person img{
    border-radius: 100px;
}

.person p{
    text-align: center;
    color: #3a3a3a;
}

.person small {
    text-align: justify;
    display: inline-block;
    margin-top: -15px;
    margin-bottom: 25px;
}

.calendar-dates p{
    text-align: center;
    display: flex;
}


@media screen and (min-width: 501px){

    .desktop-2-columns{
        columns: 2;
    }

}

.desktop-2-columns div {
    padding: 40px;
    border: 3px dotted #f5f5f521;
}

@media screen and (max-width: 500px){

    .como-participar{
        margin-top: 20px;
    }

    nav ul{
        display: block;
        position: absolute;
        background: orange;
        right: -100%;
        top: 0;
        height: 100vh;
        z-index: 112;
        padding-right: 28px;
        padding-top: 20px;
        font-size: 1.8em;
        top: 100%;
        transition: 500ms right;
    }

    .menu-open nav ul{
        right: 0;
    }

    nav ul li{
        display: block;
        margin-left: 30px !important;
    }

    article{
        width: 100% !important;
        padding: 30px;
    }

    aside{
        width: 100% !important;
    }

    .mobile-menu{
        float: right;
        display: inline-block !important;
    }

    .bar{
        width: 25px;
        height: 5px;
        background: white;
        margin: 5px;
    }

    .artifact{
        left: 20% !important;
        width: 80%;
    }

    .whiteboard{
        width: 100%;
        /*margin-left: 5%;*/
    }

    .whiteboard.one{
        border-radius: 0;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    .whiteboard.three{
        border-radius: 0;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .person{
        width: 46% !important;
        margin: 0 !important;
    }

    .person .picture{
        width: 34vw !important;
        height: 34vw !important;
        /*max-width: 200px;*/
    }

    article.full{
        padding-bottom: 0 !important;
    }

    .person small {
        width: 82%;
        font-size: 0.6em;
    }

    .who-we-are picture img{
        max-width: 100%;
        width: 100% !important;
        height: unset;
        max-height: unset;
    }

    article.first{
        padding: 0;
    }

}

.alerts-js.o-modal.o-unloaded small, .alerts-js.o-modal.o-unloaded h2{
    max-width: 400px;
    display: block;
    max-width: 70vw;
    margin: 15px;
}

.alerts-js.o-modal.o-unloaded small{
    overflow: auto;
    max-height: 400px;
}

.who-we-are a{
    text-decoration: none;
}