.slider-btns{
    display: inline-block;
    vertical-align: middle;
}

.slider-btns .slider-btn{
    width: 10px;
    height: 10px;
    border-radius: 30px;
    background: #ffe082;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
}

.slider-btns .slider-btn.visible{
    background: #ffc107;
}

.slider{
    position: relative;
    margin-top: 15px;
}

.slider .slide{
    opacity: 0;
    pointer-events: none;
    transition: 1s opacity;
    position: absolute;
    width: 100%;
}

.slider .slide.visible{
    opacity:  1;
    pointer-events: all;
}

.calendar{
    columns: 2;
    font-size: 0.8em;
    margin-top: -30px;
}

.calendar p{
    text-align: left;
}

@media screen and (max-width: 500px){

    .header{
        margin-top: 100px !important;
    }

}